@model ProductViewModel

@{
    ViewData["Title"] = "Product Card Page";
}

<div class="card mb-auto shadow">
    <div class="row g-0">
        <div class="col-md-8">
            <img class="card-img-top rounded-start" src=@Model.ImagePath alt="Изображение товара" />
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h3 style="color:navy" class="card-title">@Model.Name</h3> <br />
                <h4 style="color:black">@Model.Description</h4>
                <h4 class="my-1" style="color:gray">@Model.Cost руб</h4>
                @if(Model.IsInBasket)
                {
                    <a class="btn btn-outline-dark my-1" type="button" asp-area="" asp-controller="basket" asp-action="add" asp-route-productId="@Model.Id" role="button">В корзине</a>
                }
                else
                {
                    <a class="btn btn-secondary my-1" type="button" asp-area="" asp-controller="basket" asp-action="add" asp-route-productId="@Model.Id" role="button">В корзину</a>
                }
                <a class="btn btn-light  my-1" asp-area="" asp-controller="home" asp-action="index" role="button">Продолжить покупки</a> <br />
                <a class="btn btn-outline-dark  my-1" asp-area="" asp-controller="compare" asp-action="add" asp-route-productId="@Model.Id" role="button">Сравнить</a>
                @if (Model.IsFavorite)
                {
                    <a class="btn btn-outline-dark my-1" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@Model.Id" role="button">В избранном</a>
                }
                else
                {
                    <a class="btn btn-secondary my-1" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@Model.Id" role="button">В избранное</a>
                }
            </div>
        </div>
    </div>
</div>