@model UserOrdersViewModel

@{
    ViewData["Title"] = "AllOrders";
}

@if (Model != null && Model.Orders.Count != 0)
{
    <h4 class="text-center my-4">Мои заказы</h4>
    int counterOrder = 1;

    @foreach (var order in Model.Orders)
    {
        int counterProduct = 1;

        <h4>Заказ № @counterOrder</h4>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            @foreach (var item in order.Items)
            {
                <tbody>
                    <tr>
                        <th scope="row">@counterProduct</th>
                        <td>
                            <a style="color:black" asp-area="" asp-controller="product" asp-action="index" asp-route-productId="@item.Product.Id">@item.Product.Name</a>
                        </td>
                        <td>@item.Product.Cost</td>
                        <td>@item.Amount</td>
                        <td>@item.Cost</td>
                    </tr>
                </tbody>
                counterProduct++;
            }
        </table>
        <table class="table flex-row form-row table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th>Итоговая сумма: </th>
                    <td>@order.Cost</td>
                </tr>
                <tr>
                    <th>Статус: </th>
                    <td>@EnumHelper.GetDisplayName(order.Status)</td>
                </tr>
            </thead>
        </table>
        counterOrder++;
    }
    <div class="text-center">
        <a class="btn btn-outline-dark" asp-area="" asp-controller="home" asp-action="index" role="button" aria-label="BackToHomePage">Продолжить покупки</a>
    </div>
}
else
{
    <h4> Здесь когда-нибудь будут ваши заказы...</h4>
}


