@model FavoriteViewModel

@{
    ViewData["Title"] = "Favorites Page";
}
@if (Model != null && Model.Items.Count != 0)
{
    <h3 class="text-center my-4">Избранное</h3>
    <br />

    <div class="row">

        @foreach (var product in Model.Items)
        {
            <div class="col-3 card shadow">

                <img class="card-img-top" src=@product.ImagePath alt="Изображение товара" />

                <div class="card-body">
                    <a asp-area="" asp-controller="product" asp-action="index" asp-route-productId="@product.Id">
                        <h5 style="color:navy">@product.Name</h5>
                    </a>
                    <h5 style="color:gray"> @product.Cost руб</h5>
                    @if (product.IsFavorite)
                    {
                        <a class="btn btn-outline-dark my-1" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@product.Id" role="button">В избранном</a>
                    }
                    else
                    {
                        <a class="btn btn-secondary my-1" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@product.Id" role="button">В избранное</a>
                    }

                    @if (product.IsInBasket)
                    {
                        <a class="btn btn-outline-dark my-1" type="button" asp-area="" asp-controller="basket" asp-action="add" asp-route-productId="@product.Id" role="button">В корзине</a>
                    }
                    else
                    {
                        <a class="btn btn-dark my-1" type="button" asp-area="" asp-controller="basket" asp-action="add" asp-route-productId="@product.Id" role="button">В корзину</a>
                    }
                    <a class="btn btn-light my-1" asp-area="" asp-controller="home" asp-action="index" role="button">Продолжить покупки</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h4> Здесь будут ваши избранные товары...</h4>
}
