@model List<ProductViewModel>

<div class="row">

    @await Html.PartialAsync("LeftPanel")
    <div class="row-9">
        <h4>Продукты</h4>
        <a class="btn btn-outline-secondary" role="button" type="button" asp-area="Admin" asp-controller="Product" asp-action="New">Добавить продукт</a>

        @if (Model.Count != 0)
        {
            int counter = 1;
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Цена</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach (var product in Model)
                {
                    <tbody>
                        <tr>
                            <td>@counter</td>
                            <td>@product.Name</td>
                            <td>@product.Cost</td>
                            <td>
                                <a class="btn btn-outline-secondary mr-2" role="button" type="button" asp-area="User" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id"> Подробнее </a>
                                <a class="btn btn-dark mr-2" role="button" type="button" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@product.Id"> Изменить</a>
                                <button class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#deleteProductModal">
                                    Удалить
                                </button>
                                <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-secondary">
                                                <h5>Удаление товара</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Вы хотите полностью удалить товар?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Передумал</button>
                                                <a class="btn btn-dark" type="button" asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-productId="@product.Id">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                    counter++;
                }
            </table>

        }
        else
        {
            <h1>Продуктов нет</h1>
        }
    </div>
</div>



