@model BasketViewModel
@{
    ViewData["Title"] = "Basket Page";
}

@if (Model != null && Model.Items.Count != 0)
{
    Guid userId = Model.UserId;
    int counter = 1;
    decimal cost;
    <h3 class="text-center my-4">Корзина</h3>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Товар</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Стоимость</th>
                <th scope="col"></th>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            cost = 0;
            <tbody>
                <tr>
                    <th scope="row">@counter</th>
                    <td>
                        <a style="color:black" asp-area="" asp-controller="product" asp-action="index"  asp-route-productId="@item.Product.Id">@item.Product.Name</a>
                    </td>
                    <td>@item.Product.Cost</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" asp-area="" asp-controller="basket" asp-action="remove"  asp-route-productId="@item.Product.Id" role="button"> - </a>
                        @item.Amount
                        <a class="btn btn-outline-secondary btn-sm" asp-area="" asp-controller="basket" asp-action="add"  asp-route-productId="@item.Product.Id" role="button"> + </a>
                    </td>
                    @if (item.Amount != 0) cost = item.Cost;
                    <td>
                        @cost
                    </td>
                    <td>
                        <div class="text-center">
                            @if (item.Product.IsFavorite)
                            {
                                <a class="btn btn-outline-dark" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@item.Product.Id" role="button">В избранном</a>
                            }
                            else
                            {
                                <a class="btn btn-secondary" type="button" asp-area="" asp-controller="favorite" asp-action="add" asp-route-productId="@item.Product.Id" role="button">В избранное</a>
                            }
                            <a class="btn btn-dark" asp-area="" asp-controller="compare" asp-action="add" asp-route-productId="@item.Product.Id" role="button">Сравнить</a>
                            <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#deleteProductModal">
                                Удалить
                            </button>
                            <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header border-secondary">
                                            <h5>Удаление товара</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Удалить продукт из корзины?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Оставить в корзине</button>
                                            <a class="btn btn-dark" type="button" asp-area="" asp-controller="basket" asp-action="delete" asp-route-productId="@item.Product.Id">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            counter++;
        }
    </table>

    <table class="table flex-row form-row table-borderless">
        <thead class="thead-dark ">
            <tr>
                <th>Итоговая сумма: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Cost</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-outline-dark" type="button" asp-area="" asp-controller="home" asp-action="index" role="button" aria-label="BackToHomePage">Продолжить покупки</a>
        <a class="btn btn-dark" type="button"  asp-area="" asp-controller="order" asp-action="checkOut" role="button" aria-label="CheckOut">Оформить заказ</a>
        <a class="btn btn-outline-dark" type="button" asp-area="" asp-controller="basket" asp-action="clear" role="button" aria-label="ClearBasket">Очистить корзину</a>
    </div>
}
else
{
    <h5> В вашей корзине пока нет товаров...</h5>
}

