@model EditData

<div class="row">
    @await Html.PartialAsync("LeftPanel")

    <div class="row-9">
        <form class="text-sm-center" method="post">
            <h4>Редактирование данных</h4>
            <div class="validation" asp-validation-summary="All">
                <div class="card mb-auto shadow">
                    <div class="row g-0">
                        <div class="card-body">
                            <input type="hidden" name="Id" value="@Model.Id" />

                            <h7  asp-for="Login">Пользователь @Model.Login</h7>
                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="FirstName">Имя</span>
                                <input type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName" aria-label="FirstName">
                            </div>
                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="LastName">Фамилия</span>
                                <input type="text" class="form-control" asp-for="LastName" value="@Model.LastName" aria-label="LastName">
                            </div>
                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="Login">Логин</span>
                                <input type="text" class="form-control" asp-for="Login" value="@Model.Login" aria-label="Login">
                            </div>
                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="Adress">Адрес</span>
                                <input type="text" class="form-control" asp-for="Adress" value="@Model.Adress" aria-label="adress">
                            </div>

                            <div class="input-group mb-6">
                                <span class="input-group-text" asp-validation-for="PhoneNumber">Телефон</span>
                                <input type="text" class="form-control" asp-for="PhoneNumber" value="@Model.PhoneNumber" aria-label="PhoneNumber">
                            </div>

                            <button class="btn btn-dark" type="submit" role="button" asp-area="Admin" asp-controller="User" asp-action="Edit">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>