@model OrderViewModel

<div class="row">

    @await Html.PartialAsync("LeftPanel")
    <div class="row-9">
        <form method="post">
            <h4 class="text-center">Заказ</h4>
            <div class="row">
                <div class="col-9">
                    <table class="table">
                        <tr>
                            <td> Дата и время оформления : </td>
                            <td> @Model.Date</td>
                        </tr>
                        <tr>
                            <td> Имя получателя : </td>
                            <td> @Model.Name</td>
                        </tr>
                        <tr>
                            <td> Адрес доставки : </td>
                            <td> @Model.Adress</td>
                        </tr>
                        <tr>
                            <td> Телефон : </td>
                            <td> @Model.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td>Сумма заказа : </td>
                            <td>@Model.Cost</td>
                        </tr>
                        <tr>
                            <td>Статус заказа : </td>
                            <td>
                                <select asp-for="Status"
                                        asp-items="@Html.GetEnumSelectList<OrderStatus>()"
                                        class="form-control">
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-outline-dark" type="submit" role="button" asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-orderId="@Model.Id">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
