@model List<UserOrdersViewModel>

@{int counter = 1; }

<div class="row">
    @await Html.PartialAsync("LeftPanel")

    @if (Model.Count != 0)
    {
        <div class="row-9">
            <h4>Заказы</h4>

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Пользователь(логин)</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @foreach (var userOrders in Model)
                {
                    @foreach (var order in userOrders.Orders)
                    {
                        <tbody>
                            <tr>
                                <th>@counter</th>
                                <td>@order.Cost</td>
                                <td>@EnumHelper.GetDisplayName(order.Status)</td>
                                <td>@order.Name</td>
                                <td>@order.Date.ToString("d")</td>
                                <td>@order.Date.ToString("t")</td>
                                <td> <a class="btn btn-dark" role="button" asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-orderId="@order.Id">Подробнее</a></td>
                            </tr>
                        </tbody>
                        counter++;
                    }
                }
            </table>
        </div>
    }
    else
    {
        <div class="row-9">
            <h4>Заказов нет</h4>
        </div>
    }
</div>

